@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* header */

.header{
    background: url(../img/bg4.jpg);
    min-height: 750px;

    background-size: cover;
    background-position: center;
}

.container{
    border-radius: 0px 0px 16px 16px;
}

ul{
    display: flex;
    gap: 32px;
}
li{
    display: inline-block;
}

li a{
    color: black;
    text-transform: uppercase;
}

li a:hover{
    color: orange;
    text-decoration: none;
}


.main-header{
    display: flex;
    min-height: 700px;
}

.main-flex{
    margin: auto;
}

.main-title{
    text-align: center;
    color: #ffffff;
}

.main-title a{
    background-color: black;
    color: #ffffff;

    padding: 20px 60px;
    border-radius: 5px;
}

.explore_btn {
    background-color: black;
    color: #ffffff;
    padding: 20px 60px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.explore_btn:hover {
    background-color: orange;
    transform: scale(1.1);
}



h1{
    margin-bottom: 40px;
    font-size: 28px;
}

h4{
    margin-bottom: 40px;
    font-size: 40px;
}

/* end header */

/* main */


body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parallax {
    background: url(../img/bg.jpg);
    background-attachment: fixed;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parallax h1 {
    color: #ffffff;
    font-size: 70px;
}

.parallax .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 2;
}

.parallax-content {
    z-index: 3;
}

.page-content {
    padding: 70px 70px;
    text-align: center;
}

.carousel-caption h5{
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 26px;

}


/* end main */

/* footer */



/* end footer */

